*{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    background-color: rgb(44, 32, 150);
    padding: 30px;
    
}
nav{
    
    display: inline-block;
}
nav .header-left{
   
   display: inline;
    
}
nav .header-right{
    
   display: inline;
    

}
nav .header-left a{
   
  text-decoration: none;
  font-size: larger;
     
 }
 nav .header-right a{
     
    text-decoration: none;
     
 
 }
 .header-left{
    float: left;
}
 .header-right{
    float: right;
    margin-left: 750px;
}
.header-left a{
    color: white;
    
}
.header-right a{
    color: white;
}
ul{
    list-style-type: none;
    list-style:none ;
}
header ul li {
    display: inline;
    color: #ffffff;
    font-size: 20px;
    padding: 13px;
  }
  
  header ul {
    /* float: left; */
    padding: 1px;
   
  }
  .banner{
      background-image: url(./pexels-steve-johnson-1509534.jpg);
      background-repeat: no-repeat;
      background-size:cover;
      text-align: center;
      font-size: x-large;
      padding: 60px;
      color: white;
  }
  .btm{
      background-color: rgb(223, 217, 217);
      text-align: center;
      color: rgb(0, 0, 0);
      padding: 90px;
  }
  .btmhdr{
     font-size: x-large;
     position: relative;
     bottom: 50px;
  }
  [class*="col-"] {
    width: 100%;
  }
  
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }
  
 